@import "tailwindcss";

:root {
  --dark: #111111;
  --dark-alternate: #1B1918; 
  --primary: #FF5F3F;
  --primary-light: #F4EBEB; 
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);

}

html {
  overflow-x: hidden; 
  scroll-behavior: smooth
}

* {
  @apply font-poppins;
}

/* Input Group Style */
.input-group {
  @apply mb-5;
}

.input-group label {
  @apply block text-sm mb-2;
}

.input-group input,
.input-group textarea {
  @apply px-4 py-3 bg-gray-100 w-full focus:border-gray-400 text-sm outline-none;
}

/* Input Group for Admin */
.input-group-admin label {
  @apply block text-sm mb-2;
}

.input-group-admin input,
.input-group-admin select,
.input-group-admin textarea {
  @apply px-4 py-3 w-full border border-[#DBDBDB] rounded-md text-sm focus:border-gray-500 outline-none text-sm;
}

